<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Biblioteca</title>
</head>
<body>
    <main>
        <section aria-label="Mensagem de boas-vindas">
            <h1>Bem-vindo ao sistema gerenciado por micro-serviços da biblioteca!</h1>
            <p>Escolha uma opção para continuar:</p>
        </section>

        <nav aria-label="Navegação principal">
            <ul>
                <li><a class="login" href="userLogin.html">Login</a></li>
                <li><a class="submit" href="userSubmit.html">Cadastrar</a></li>
                <li>
                    <button onclick="logout()" class="logout-button">Logout</button>
                </li>
            </ul>
        </nav>
    </main>
    
</body>
</html>