<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Biblioteca Virtual</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
    <h1>📚 Biblioteca Virtual</h1>
    <nav>
        <a href="/TrabalhoFinalS017/front-end/templates/listar.html">📖 Listar Livros</a>
        <a href="/TrabalhoFinalS017/front-end/templates/emprestimo.html">📦 Solicitar Empréstimo</a>
        <a href="cadastrar.html">📝 Cadastrar Livro</a>
    </nav>
</div>
<script src="script.js"></script>
</body>
</html>
